# Real Estate Analyzis

## importing data

In [6]:
import pandas as pd

# import realstate data from csv spplited by ;
realestate_data = pd.read_csv("data/aluguel.csv", sep=';')

## data overview

In [20]:
print("Data types: ")
data_types = pd.DataFrame(realestate_data.dtypes)
data_types.columns = ["Data Type"]
data_types.columns.name = "Data Name"
data_types

Data types:

Data Name  Data Type
Tipo          object
Bairro        object
Quartos        int64
Vagas          int64
Suites         int64
Area           int64
Valor        float64
Condominio   float64
IPTU         float64

In [23]:
print("Data shape: {} rows and {} variables".format(realestate_data.shape[0],realestate_data.shape[1] ))

Data shape: 32960 rows and 9 variables