# Handling dataFrames

In [1]:
import pandas as pd

In [4]:
data = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [12]:
df = pd.DataFrame(data, index=list('321'), columns=list('acb'))
df

   a  c  b
3  1  2  3
2  4  5  6
1  7  8  9

In [14]:
# sort using the index
df.sort_index(inplace=True)
df

   a  c  b
1  7  8  9
2  4  5  6
3  1  2  3

In [15]:
# sort using values
df.sort_values(by = 'b', inplace=True)
df

   a  c  b
3  1  2  3
2  4  5  6
1  7  8  9

In [16]:
df.sort_values(by = ['a','b'], inplace=True)
df

   a  c  b
3  1  2  3
2  4  5  6
1  7  8  9