# Marvel analyzes

In [45]:
# environment setup
!pip install seaborn==0.9.0
import seaborn as sns
import pandas as pd

df_movies = pd.read_csv('data/tmdb_5000_movies.csv')
df_movies.head(10)

ModuleNotFoundError: No module named 'seaborn'

In [ ]:
# identify marvel movies
marvel_movies = df_movies.production_companies.str.contains('Marvel', regex=False)
df_marvel_movies = df_movies[marvel_movies]
df_marvel_movies = df_marvel_movies[["title", "budget", "popularity", "revenue", "vote_average", "vote_count"]]
df_marvel_movies

In [ ]:
# sort by highest to lowest revenue
df_marvel_movies = df_marvel_movies.sort_values(by = ["budget"], ascending=False)
df_marvel_movies

In [ ]:
# create budge range
budget_range = [0, 75000000, 100000000, 200000000, 300000000]
budget_labels = ["0 to 75M USD", "75M to 100M USD", "100M to 200M USD", "200M to 300M USD"]
budget_classified = pd.cut(df_marvel_movies["budget"], budget_range, labels= budget_labels)
pd.value_counts(budget_classified)

In [ ]:
df_marvel_movies["budget_classif"] = budget_classified

# plot in a bar chart
sns.barplot(data = df_marvel_movies, x = df_marvel_movies["budget_classif"], y = df_marvel_movies["revenue"])

In [ ]:
#